/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
|
| Form styles.
|
*/

.form {

    &-group {
        margin-bottom: 30px;

        label {
            display: inline-block;
            padding-bottom: 5px;
        }
    }

    &-honeypot {
        display: none;
    }

}
