/*
|--------------------------------------------------------------------------
| Icons
|--------------------------------------------------------------------------
|
| Icons are exported from IcoMoon and the SVG styles are copied here.
|
*/

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.fill-color1 {
	fill: #303131;
}
.fill-color2 {
	fill: #333;
}
.fill-color3 {
	fill: #0d2371;
}
.fill-color4 {
	fill: #a81f80;
}
.fill-color5 {
	fill: #3d49ba;
}
.fill-color6 {
	fill: #e74c3b;
}
.fill-color7 {
	fill: #39f;
}
.fill-color8 {
	fill: #eee;
}
.fill-color9 {
	fill: #f5f5f5;
}
.fill-color10 {
	fill: rgba(255, 255, 255, 0.1);
}
.fill-color11 {
	fill: #fff;
}

.icon-tags {
	width: 1.25em;
}

.icon-comments {
	width: 1.125em;
}

.icon-codebee {
	width: 0.8662109375em;
}

/**
 * Social Brand Colors
 */

.icon-twitter {
	fill: #55acee;
}

.icon-github {
	fill: #333;
}

.icon-linkedin {
	fill: #0077b5;
}

.icon-codepen {
	fill: #000;
}
