/*
|--------------------------------------------------------------------------
| Inputs
|--------------------------------------------------------------------------
|
| Input styles.
|
*/

.input,
input.input,
textarea.input {
    padding: .5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--gray-light);
    font-size: 1rem;
    font-family: var(--font-sans-serif);
    background: var(--gray-lightest);
    transition: all .2s ease;

    &:hover {
        border-color: var(--gray);
    }

    &:focus {
        border-color: var(--brand-primary);
        background: var(--gray-lighter);
        outline: none;
    }

    &::placeholder {
        color: var(--gray-light);
    }
}
