.media-project {
    lost-flex-container: row;
    width: 100%;
    height: 110px;
    border: none;

    &-icon {
        lost-column: 1/3;
        lost-move: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;

        .is-codebee & {
            background: #e94d3b;
        }

        .is-socialshares & {
            background: #f4f4f4;
        }

        .is-phpass & {
            color: #fff;
            background: #8892be;
        }

        svg {
            width: 80px;
            height: 80px;
        }
    }

    &-text {
        lost-column: 2/3;
        lost-move: -1/3;
        padding: 15px;
        padding-left: 0;
        font-size: .9rem;
        color: var(--body-color);
        background: var(--body-bg);
        transition: padding .2s ease;

        .is-sunnysinghio & h3 {
            color: var(--brand-primary);
        }

        .is-codebee & h3 {
            color: #e94d3b;
        }

        .is-socialshares & h3 {
            color: #aa2582;
        }

        .is-phpass & h3 {
            color: #8892be;
        }
    }

    &:--enter &-text {
        padding-left: 15px;
    }
}
