/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
|
| Base typographic styles.
|
| Some elements are given fancier styling with the .readable class.
|
*/

:root {
    font-family: var(--font-serif);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: .5rem;
   font-family: var(--font-serif);

   .readable &,
   &.readable {
       padding-top: 15px;
       margin-bottom: 15px;
   }
}

.readable h2,
h2.readable {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-lighter);
}

p {
   margin-top: 0;
   margin-bottom: 1rem;

   .readable &,
   &.readable {
       font-size: 1.2rem;
       line-height: 1.7rem;
       letter-spacing: .004rem;
   }
}

address {
   margin-bottom: 1rem;
   font-style: normal;
   line-height: inherit;
}

ol,
ul,
dl {
   margin-top: 0;
   margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
   margin-bottom: 0;
}

dt {
   font-weight: bold;
}

dd {
   margin-bottom: .5rem;
   margin-left: 0;
}

blockquote {
   margin: 0 0 1rem;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
}

code {
    padding: 2px 4px;
    background-color: rgba(#000, 0.04);
    border-radius: 4px;
}

figure {
    margin: 0 0 1rem;
}

/* Add space around the "/" character */
.slash {
    padding-left: 2px;
    padding-right: 2px;
}
