/*
|--------------------------------------------------------------------------
| Section: Blog
|--------------------------------------------------------------------------
|
| Page-specifc styles for blog section.
|
*/

.article {

	&-metadata {
		color: var(--gray-light);
		font-size: 1rem;

		.icon {
			position: relative;
			top: 2px;
		}

		&-group:not(:first-child) {
			margin-left: 5px;
		}
	}

}

.comments {
	padding-top: 15px;
	min-height: 200px;
}
