
/*
|--------------------------------------------------------------------------
| Section: Home
|--------------------------------------------------------------------------
|
| Page-specifc styles for home section.
|
*/

.home-featured {
    lost-flex-container: row;

    &-heading {
        font-size: 1.4rem;
    }
}

.home-articles {
    lost-column: 2/3;

    @media (--md) {
        & {
            lost-column: 1/1;
            order: 1;
        }
    }

    &-footer {
        margin-top: 15px;
    }
}

.home-projects {
    lost-column: 1/3;

    @media (--md) {
        & {
            lost-column: 1/1;
            padding-bottom: 2rem;
        }
    }

    &-footer {
        margin-top: 15px;
        text-align: right;
    }

    @media (--md) {
        &-footer {
            text-align: left;
        }
    }
}
