
/*
|--------------------------------------------------------------------------
| Custom Properties
|--------------------------------------------------------------------------
|
| Define site-wide settings such as colors and fonts.
|
*/

:root {

    /* Branding */
    --brand-primary:   #0d2371;
    --brand-secondary: #222;

    /* Grays */
    --gray-dark:     #373a3c;
    --gray:          #55595c;
    --gray-light:    #818a91;
    --gray-lighter:  #eceeef;
    --gray-lightest: #f7f7f9;

    /* Body */
    --body-color: #111;
    --body-bg:    #fff;

    /* Links */
    --link-color:       #364d9e;
    --link-enter-color: #0a1640;

    /* Font Families */
    --font-serif:      'Noto Sans', sans-serif;
    --font-sans-serif: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    /* Tooltips */
    --tooltip-zindex:       1000000;
    --tooltip-arrow-zindex: 1000001;

}
