---
section: about
layout: layout.hbs
title: About
description: Learn about me.
---

<p>
    I was born in Kharkiv, Ukraine, and lived there for about 7 years until I moved to the U.S. in New York. I am currently {{ me.age }} years old and live in {{ me.location }} where I attend the University of North Carolina in the city of Charlotte.
</p>

<p>
    If you were to get to know me, you would probably find that I have a very open mind about the world. A big reason to that is probably because of how diverse my family is. My mom was born in Tanzania, Africa, my dad was born in Calcutta, India, and my sister was born in New York. I got introduced to technology very early on, since my dad studied computer science when he moved to Ukraine. My dad built me a custom computer when I was around 13 or so, and from then on I quickly learned all there is to know about computers and the Internet.
</p>

<p>
    Web development started as a hobby for me, and it continues to be one. There's always new languages to learn, new design patterns, new APIs, and so on. Code is in every piece of technology in the modern world, which is why it's an exciting time to be a developer.
</p>

<p>
    My other big interest is tech, but I also geek out over movies, TV shows, anime, and so on. I also love hanging out with my family and close friends.
</p>
