---
section: about
title: About
description: Learn about me.
---

<div class="readable">
    <h2 id="bio">Bio</h2>

    <p>
        I was born in Kharkiv, Ukraine, and lived there for 7 years until I moved to New York. I am currently {{ me.age }} years old and live in {{ me.location }}. I work full-time as a front-end developer at <a href="http://www.fit2rent.com/">Fit to Rent</a>. I also run <a href="https://ninjality.com/">Ninjality</a> as a co-founder and lead developer.
    </p>

    <p>
        If you were to get to know me, you would probably find that I have a very open mind about the world. A big reason to that is because of how diverse my family is; my mom was born in Tanzania, Africa, my dad was born in Calcutta, India, and my sister was born in New York. I got introduced to technology very early on, since my dad studied computer science when he moved to Ukraine. My dad built me a custom computer when I was around 13 or so, and from then on I quickly learned all there is to know about computers and the Internet.
    </p>

    <p>
        Web development started as a hobby for me, and it continues to be one. There's always new languages to learn, new design patterns, new APIs, and so on. Code is in every piece of technology in the modern world, which is why it's an exciting time to be a developer.
    </p>

    <p>
        My other big interest is tech, but I also geek out over movies, TV shows, card games, anime, and so on. I also love hanging out with my family and close friends.
    </p>

    <h2 id="skills">Skills</h2>

    <p>
        I am confident in my web development skills and love working on <a href="/projects">numerous projects</a>. Being passionate about what I do makes me always willing to learn something new or improve on what I already know. I specialize in a modern development workflow and am proficient in HTML, CSS, JS, Node, PHP, and MySQL.
    </p>

    <p>
        Feel free to check out my <a href="https://www.linkedin.com/in/sunnyisme">LinkedIn profile</a>. You can also view my <a href="/resume.pdf" target="_self">resumé (pdf)</a> but it is may be slightly outdated.
    </p>

</div>
