---
section: blog
title: Articles
description: Learn something new.
---

<p>
    <a
        class="btn btn-subscribe"
        href="/articles.rss.xml"
        target="_blank"
        data-subscribe="{{ site.base_url }}/articles.rss.xml"
    >
        {{> icon name="rss" }} Subscribe
    </a>
</p>

<p>
    I also publish articles on <a href="https://ninjality.com/blog">Ninjality</a> and <a href="http://digitalbounds.com/">Digital Bounds</a>.
</p>

{{#each collections.articles}}

    {{> article-item }}

{{/each}}
