---
section: home
description: A web developer/designer and the co-founder and lead developer at Ninjality.
---

<div class="home-featured">

    <div class="home-articles" aria-labelledby="articles">

        <h2 class="home-featured-heading readable readable-no-spacing-above" id="articles">Articles</h2>

        {{#each collections.newArticles}}

            {{> article-item }}

        {{/each}}

        <div class="home-articles-footer">
            <a class="btn" href="/blog">All Articles</a>
        </div>

    </div>

    <div class="home-projects" aria-labelledby="projects">

        <h2 class="home-featured-heading readable readable-no-spacing-above" id="projects">Projects</h2>

        <a class="media-project is-codebee" href="/projects/codebee">
            <div class="media-project-icon" role="presentation">
                {{> icon name="codebee" }}
            </div>
            <div class="media-project-text">
                <h3>CodeBee</h3>
                <p>
                    Connect with developers.
                </p>
            </div>
        </a>

        <a class="media-project is-devnews" href="/projects/devnews">
            <div class="media-project-icon" role="presentation">
                {{> icon name="devnews" }}
            </div>
            <div class="media-project-text">
                <h3>devnews</h3>
                <p>
                    Developer news aggregator.
            </div>
        </a>

        <div class="home-projects-footer">
            <a class="btn" href="/projects">All Projects</a>
        </div>

    </div>

</div>
