---
section: podcast
title: Podcast
pageTitle: Sunny Commutes Podcast
description: I combine the worlds of web development and business and share my experience.
---

<div class="podcast">
	<div class="podcast-art">
		{{{ sources.[assets/svg/podcast.svg] }}}
	</div>

	<div class="podcast-content">
		<div class="podcast-embed">
			<iframe
				src="https://anchor.fm/sunnysingh/episodes/c467b0/embed?at=701217"
				width="100%"
				height="270px"
				frameborder="0"
				scrolling="no"
			></iframe>
		</div>
	</div>
</div>

<p class="podcast-text">
	Available on these platforms.
</p>

<ul class="podcast-links">
	<li><a href="https://anchor.fm/sunnysingh">Anchor</a></li>
	<li><a href="https://play.google.com/music/m/Irtdmq7g5rowegi26zdmhltgicy?t=Sunny_Singh">Google Play</a></li>
	<li><a href="https://itunes.apple.com/us/podcast/sunny-singh/id1254870471">Apple Podcasts (iTunes)</a></li>
</ul>

<ul class="podcast-links">
	<li><a href="http://pca.st/a4gX">Pocket Casts</a></li>
	<li><a href="https://overcast.fm/itunes1254870471/sunny-singh">Overcast</a></li>
	<li><a href="https://anchor.fm/s/c1d6a8/podcast/rss">RSS Feed</a></li>
</ul>
