---
section: projects
title: Projects
description: Explore my projects.
---

<h2 class="readable">Featured</h2>

<div class="projects">

    <div class="projects-col">

        <a class="media-project is-sunnysinghio" href="/projects/sunnysinghio">
            <div class="media-project-icon" role="presentation">
                {{> icon name="sunnysinghio" }}
            </div>
            <div class="media-project-text">
                <h3>sunnysingh.io</h3>
                <p>
                    My personal website<br />
                    and developer portfolio.
                </p>
            </div>
        </a>

        <a class="media-project is-codebee" href="/projects/codebee">
            <div class="media-project-icon" role="presentation">
                {{> icon name="codebee" }}
            </div>
            <div class="media-project-text">
                <h3>CodeBee</h3>
                <p>
                    Connect with other<br />
                    developers and designers.
                </p>
            </div>
        </a>

    </div>

    <div class="projects-col">

        <a class="media-project is-devnews" href="/projects/devnews">
            <div class="media-project-icon" role="presentation">
                {{> icon name="devnews" }}
            </div>
            <div class="media-project-text">
                <h3>devnews</h3>
                <p>
                    Developer news aggregator.
                </p>
            </div>
        </a>

        <a class="media-project is-socialshares" href="/projects/socialshares">
            <div class="media-project-icon" role="presentation">
                {{> icon name="socialshares" }}
            </div>
            <div class="media-project-text">
                <h3>socialshares</h3>
                <p>
                    Lightweight share buttons<br />
                    for the web.
                </p>
            </div>
        </a>

    </div>

    <div class="projects-col">

        <a class="media-project is-phpass" href="/projects/phpass">
            <div class="media-project-icon" role="presentation">
                {{> icon name="shield" }}
            </div>
            <div class="media-project-text">
                <h3>Phpass Tutorial & Starter</h3>
                <p>
                    An easy-to-follow tutorial<br />
                    and starter for Phpass.
                </p>
            </div>
        </a>

    </div>

</div>

<h2 class="readable">Other</h2>

<p>
    <a href="https://github.com/sunnysingh/database">Database</a> is a PHP library that I created a couple years ago. It uses the MySQLi extension and provides a convenient API for small projects.
</p>
