---
section: search
title: Search
description: Search for an article.
---

<div class="search">

	<form class="search-standalone" data-search>
		<noscript>Sorry, you need to enable JavaScript to search this site.</noscript>
		<input class="input" type="search" placeholder="Search articles..." />
	</form>

	<div class="search-results" id="search-results"></div>

</div>
