---
section: projects
layout: layout.hbs
title: Phpass Tutorial & Starter
description: An easy-to-follow tutorial and starter for Phpass.
---

<div class="project is-single">

    <section class="project-about">

        <h2>About The Project</h2>

        <p class="readable">
            Security is extremely important in the world of web development, but I found it odd when I couldn't find any decent tutorials for the Phpass password-hashing framework.<br />
            Once I learned how to use it myself, I decided to help others out by writing my own tutorial which actually ended up being linked on the official Phpass site.
        </p>

        <p>
            <a class="btn" href="https://sunnysingh.io/blog/secure-passwords">Read Tutorial</a> &nbsp;
            <a class="btn" href="https://github.com/sunnysingh/phpass-starter">Browse Starter</a>
        </p>

    </section>

</div>
